<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="./assets/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Adam Conway</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body class="index-page sidebar-collapse">
    <%= yield %>
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
